 <ng-container *ngIf="product.length!==0">
  <div class="container">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">S.no</th>
          <th scope="col">Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
          <th scope="col">Action</th>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of product;let i=index">
          <td>{{i+1}}</td>
          <td>{{item.title}}</td>
          <td>{{item.quantity}}</td>
          <td>$ {{item.price}}</td>
          <!-- <td>$ {{item.price*item.quantity}}</td> -->
          <td>$ {{item.quantity*item.price}}</td>          
          <td (click)="removeItem(item)"><i class="fas fa-trash-alt"></i></td>
          
  
        </tr>
        <tr>
          <tr>
            
            <td colspan="4"></td>
            <td><button (click)="emptyCart()" class="btn btn-danger">Empty Cart</button></td>
            <td><button routerLink="/" class="btn btn-primary">Shop More</button></td>
            <td><button routerLink="/form" class="btn btn-success">Checkout</button></td>
            <td><strong>Grand Total : ${{grandTotal}}</strong></td>
        </tr>
  
        
        
      </tbody>
  
    </table> 
    
  </div>
 
 </ng-container>
 
<ng-container *ngIf="product.length==0">
  <div class="container" >
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button routerLink="/" class="btn btn-primary">Go to menu</button>
    </div>
</div>
</ng-container>
 
  
  
  <!-- <p-table [value]="details" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>City</th>
            <th>Dob</th>
            <th>Phone</th>
            <th>Action</th>
            

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail let-i="rowIndex" >
        <tr  >
            <td>{{detail.firstName}}</td>
            <td>{{detail.middleName}}</td>
            <td>{{detail.lastName}}</td>
            <td>{{detail.email}}</td>
            <td>{{detail.gender?.kind}}</td>
            <td>{{detail.city?.name}}</td>
            <td>{{detail.dob | date}}</td>
            <td>{{detail.phone}}</td>
            <td class="hand"><i (click)="openEditModal(detail)" class="pi pi-user-edit"></i><i (click)="onDelete(detail)" class="pi pi-trash"></i></td>
           
          </tr>
    </ng-template>
</p-table>  -->
<!-- <button class="hand"><i (click)="openEditModal()" class="pi pi-user-edit"></i><i  class="pi pi-trash"></i></button> -->

<!-- <button class="btn btn-primary mt-3 mx-3" routerLink="/">Add</button> 
 <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">City</th>
        <th scope="col">DOB</th>
        <th scope="col">Phone</th>

        <th scope="col">Action</th>




      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.firstName}}</td>
        <td>{{user.middleName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender.kind}}</td>
        <td>{{user.city.name}}</td>
        <td>{{user.dob |date}}</td>
        <td>{{user.phone}}</td>

      </tr>
      
    </tbody>
  </table> -->