 <p-table [value]="details" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>City</th>
            <th>Dob</th>
            <th>Phone</th>
            <th>Action</th>
            

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail let-i="rowIndex" >
        <tr  >
            <td>{{detail.firstName}}</td>
            <td>{{detail.middleName}}</td>
            <td>{{detail.lastName}}</td>
            <td>{{detail.email}}</td>
            <td>{{detail.gender?.kind}}</td>
            <td>{{detail.city?.name}}</td>
            <td>{{detail.dob | date}}</td>
            <td>{{detail.phone}}</td>
            <td class="hand"><i (click)="openEditModal(detail)" class="pi pi-user-edit"></i><i (click)="onDelete(detail)" class="pi pi-trash"></i></td>
        </tr>
    </ng-template>
</p-table> 
<button class="btn btn-primary mt-3 mx-3" routerLink="/">Add</button>


